<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login Page</mat-card-title>
      <mat-card-subtitle>don't have an account  <a routerLink="/register" routerLinkActive="active">Sing Up Free !</a> </mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">  
    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" class="form-control" />
      </mat-form-field>

      <mat-form-field>
        <input type="password" matInput placeholder="password" formControlName="password" class="form-control" />
      </mat-form-field>
      <mat-card-footer><a routerLink="/Forgotpass" routerLinkActive="active">Forgot password?</a></mat-card-footer>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary" type="submit">Login with Email</button>
    </mat-card-actions>
    </form>
  </mat-card>
</div>
