<div fxLayout="row" fxLayoutAlign="center center" class="login-main">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Recover my account</mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Email" />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button color="primary">send me new password</button>
    </mat-card-actions>
    <mat-card-subtitle><a routerLink="/register" routerLinkActive="active">don't have an account?</a></mat-card-subtitle>
      <mat-card-footer><a routerLink="/login" routerLinkActive="active">Already have an account?</a></mat-card-footer>
  </mat-card>
</div>
